/*page*/
body
{
    background:  url("../image/back.png");
	background-size: cover;
}
body
{
    min-width: 200px;
}
#global {
    width: 1050px;
    margin: auto;
    background: #F0F8FF;
    border: 1px solid #c3c3c3;
    -webkit-box-shadow: 0 0 15px #c3c3c3;
    -moz-box-shadow: 0 0 15px #c3c3c3;
    box-shadow: 0 0 15px #c3c3c3;
}
/*fin page*/

/*header*/
header a img
{
	display: inline-block;
}

header
{
    width: auto;
    background: url("../image/imgheader.jpg") center;
    height: 250px;
    position: relative;
}
.iconList {
    float: right;
}

a img
{
    display: inline-block;
    right: 60px;
}
.reseaux
{
    position: absolute;
    display: inline-block;
    top: 0px;
    right: 0px;
}

/*fin header*/
/*menu*/
#menu {
    width: 960px;
    margin: 60px auto;
    border: 1px solid #222;
    background-color: #111;
    background-image: linear-gradient(#444, #111);
    border-radius: 6px;
    box-shadow: 0 1px 1px #777;
}

#nav {
        float: left;
        font: bold 12px Arial, Helvetica, Sans-serif;
        border: 1px solid #121314;
        border-top: 1px solid #2b2e30;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        overflow: hidden;
}

#nav ul {
        margin:0;
        padding:0;
        list-style:none;
}

#nav ul li {
        float:left;
}

#nav ul li a {
        float: left;
        color:#d4d4d4;
        padding: 10px 20px;
        text-decoration:none;
        background:#3C4042;
        background: -webkit-gradient( linear, left bottom, left top, color-stop(0.09, rgb(59,63,65)), color-stop(0.55, rgb(72,76,77)), color-stop(0.78, rgb(75,77,77)) );
        background: -moz-linear-gradient( center bottom, rgb(59,63,65) 9%, rgb(72,76,77) 55%, rgb(75,77,77) 78% );
        background: -o-linear-gradient( center bottom, rgb(59,63,65) 9%, rgb(72,76,77) 55%, rgb(75,77,77) 78% );
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 0 5px rgba(0, 0, 0, 0.1) inset;
        border-left: 1px solid rgba(255, 255, 255, 0.05);
        border-right: 1px solid rgba(0,0,0,0.2);
        text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.6);
}

#nav li ul {
        background:#3C4042;
        background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.09, rgb(77,79,79)), color-stop(0.55, rgb(67,70,71)), color-stop(0.78, rgb(69,70,71)) );
        background-image: -moz-linear-gradient( center bottom, rgb(77,79,79) 9%, rgb(67,70,71) 55%, rgb(69,70,71) 78% );
        background-image: -o-linear-gradient( center bottom, rgb(77,79,79) 9%, rgb(67,70,71) 55%, rgb(69,70,71) 78% );
        border-radius: 0 0 10px 10px;
        -moz-border-radius: 0 0 10px 10px;
        -webkit-border-radius: 0 0 10px 10px;
        left: -999em;
        margin: 35px 0 0;
        position: absolute;
        width: 160px;
        z-index: 9999;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.4) inset; 
        -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.4) inset; 
        -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.4) inset; 
        border: 1px solid rgba(0, 0, 0, 0.5);
}


#nav li ul a {
        background: none;
        border: 0 none;
        margin-right: 0;
        width: 120px;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        border-bottom: 1px solid transparent;
        border-top: 1px solid transparent;
}
/*fin menu*/


/*centralContent*/
#centralContent {
    display: table-cell;
}

#menuLeft {
    width: 245px;
    height: 700px;
    float: left;
    border-right: 1px solid #808080;
}
#menuRight {
    width: 790px;
    height: 700px;
    float: left;
}

#position{
float: right;}


#logo{
float: left;
display:inline-block;}



#img{
    position:absolute;
    float:right;
}
#block_aside
{
    margin-top: 220px;
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
}


footer {
    width: auto;
    height: 200px;
    background: linear-gradient(#999, #111);
}